<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wms.sys.mapper.UserMapper">
    <select id="getAuthorities" resultType="string">
        select code
        from sys_user_role sur
                 inner join sys_role_menu srm on srm.role_id = sur.role_id
                 inner join sys_menu sm on sm.menu_id = srm.menu_id
        where sur.user_id = #{userId}
    </select>
    <select id="pageList" resultType="org.wms.sys.model.dto.UserDto">
        select su.user_id as user_id,avatar,
        username,
        nick_name,
        sex,
        phone,
        email,
        sr.role_id as role_id,
        role_name,
        real_name
        from sys_user su
        left join sys_user_role sur on su.user_id = sur.user_id
        left join sys_role sr on sr.role_id = sur.role_id
        where 1=1
        <if test="nickName != '' and nickName != null">
            and nick_name like "%"#{nickName}"%"
        </if>
        <if test="realName != '' and realName != null">
            and real_name like "%"#{realName}"%"
        </if>
        order by su.update_time desc
    </select>
</mapper>